body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;  

    padding: 20px;
}

h2 {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 20px;
}


#schedule {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;     
    text-align: center; 

}


#schedule h3 {
    margin-top: 20px;
    color: #7dd3fc;
}

#schedule p {
    margin: 5px 0;
    color: #cbd5f5;
}
